.pokemain-global {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    margin: 16px;
}

.pokemain-container {
    height: 112px;
    display: grid;
    grid-template-rows: 16fr 72fr 24fr;
    border: 1px solid;
    border-radius: 8px;
}

.pokemain-id {
    grid-row: 1;
    border-radius: 8px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 7px;
}

.pokemain-container-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemain-img {
    grid-row: 2;
    width: 72px;
    border-radius: 8px;
    
}

.pokemain-name {
    grid-row: 3;
    color: white;
    border-radius: 0px 0px 6px 6px;
    padding: 0 5px;
    font-size: 10px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.link {
    text-decoration: none;
}
input {
    width: 50px;
    border-radius: 10px;
    border: 1px solid black;
    height: 10px;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
}
select {
    border: none;
    font-size: 10px;
    font-weight: 700;
    color: white;
}
select::selection {
    border: none;
}
.pokemon-description {
    margin-top: 0px;
    margin-bottom: 0px;
}
.inputDescription {
    width: 85%;
    height: 35px;
}
.moves {
    width: 65px;
    height: 12px;    
}
.inputName {
    width: 200px;
    height: 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.inputNumber {
    width: 65px;
    height: 15px;
    font-size: 10px;
}